@model IEnumerable<MyBoutique.Models.RegisterViewModel>

@{
    ViewBag.Title = "ShowAll";
}
<head>
    <style>
        .btn {
            color: white;
            background-color: black;
            width: 150px;
            height: 35px;
        }

            .btn:hover {
                color: black;
                background-color: white;
                border-color: black;
                width: 150px;
                height: 35px;
            }

        img {
            border-radius:50%;
            height: 80px;
            width: 100px;
        }

        .color {
            color: black;
        }

            .color:hover {
                font-weight: bold;
                color: black;
            }
            td{
                height:80px;
            }
    </style>
</head>
<h2>List Of All Registered Vendors at Rania</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Joining_Date)
        </th>

        

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@item.ImagePath"  />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Joining_Date)
        </td>

        
        <td>
            <a href="/Dashboard/Delete/@item.Id" class="btn">Delete</a>
        </td>
    </tr>
}

</table>
