<!DOCTYPE html>
<html>
<head>
    <style>
        a:hover {
            font-weight: bold;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RANIA Collections</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div style="color:black" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><img src="~/Content/Images/rania.jpg" style="border-radius:50%;height:50px;width:50px" /></li>
                    <li><a href="~/Home/Index">Home</a></li>
                    <li><a href="~/Home/Contact">Contact</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="color:black">&copy; @DateTime.Now.Year - RANIA Collections - Shop: G-7, Mughal Trade Center, Dhani Raam Road,New Anarkali,Lahore</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
