@model MyBoutique.Models.RecordListViewModel

@{
    ViewBag.Title = "Details";
}
<head>
    <style>
        .btn {
            color: white;
            background-color: black;
            width: 150px;
            height: 35px;
        }

            .btn:hover {
                color: black;
                background-color: white;
                border-color: black;
                width: 150px;
                height: 35px;
            }

        img {
            height:50%;
            width:50%;
        }
        .color {
            color: black;
        }

            .color:hover {
                font-weight: bold;
                color: black;
            }
            
    </style>
</head>
<h2>Details Of Order</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <div>
            <div style="float:right;font-size:large">
                <dt>
                    @Html.DisplayNameFor(model => model.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Article_No)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Article_No)
                </dd>
                <br />
                <dt>
                    @Html.DisplayNameFor(model => model.No_Of_Suits)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.No_Of_Suits)
                </dd>
                <br />
                <dt>
                    @Html.DisplayNameFor(model => model.Colors)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Colors)
                </dd>
                <br />
                <div style="border:2px solid black">
                    <dt>
                        @Html.DisplayNameFor(model => model.Paid_Amount)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Paid_Amount) Rs
                    </dd>
                </div>

                <br />

                <div style="border:2px solid black">
                    <dt>
                        @Html.DisplayNameFor(model => model.Remaining_Amount)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Remaining_Amount) Rs
                    </dd>
                </div>

                <br />
                <div style="border:2px solid black">
                    <dt>
                        @Html.DisplayNameFor(model => model.Total_Price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Total_Price) Rs
                    </dd>
                </div>


                <br />


                <div style="border:2px solid black">
                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Price) Rs
                    </dd>
                </div>

                <br />
                <dt>
                    @Html.DisplayNameFor(model => model.Added_On)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Added_On)
                </dd>
            </div>
            <dt>
                @Html.DisplayNameFor(model => model.ImagePath)

            </dt>

            <dd>
                <img src="@ViewBag.pic" />

            </dd>

        </div>

        



    </dl>
</div>
<div>
    <a href="~/Acount/Index" class="color">Back To Account</a>
</div>

